@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Plan and Book events with ease.</p>
    <a asp-controller="Events" asp-action="Index" class="btn btn-primary">Overview</a>
    <a asp-controller="Events" asp-action="Create" class="btn btn-secondary">Create Event</a>
</div>
